.App {
  /* display: flex; */
  text-align: center;
}

.players-container {
  /* display: flex; */
  width: 70%;
  float:left;
  position: relative;
  height: 2522.34px;
}

.teams-container {
  /* display: flex; */
  float: right;
  width: 20%;
  border: 1px solid #000;
  padding: 15px;
}

.player-card {
  display: grid;
  /* width: 100%; */
}

/* img {
  width: 50%;
  height: auto;
} */
